@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
* {
    font-family: 'Sawarabi Mincho', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #E7EBEC;
}

header {
    background: #000;
    color: #fff;
}

span a {
    list-style: none;
    
}

.logo a,
.logo a:link,
.logo a:visited
 {
    padding: 0 .5em;
    color: #fff;
    line-height: 50px;
    text-decoration: none;

}



header .logo {
    line-height: 50px;
    font-weight: bold;
    padding: 0 .5em 0 1em;
}

header .logo a{
    list-style: none;
}

header nav {
    display: none;
    background: #000;
    z-index: 1000;
}

header nav ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}


#change{
   color: red;
}

#codePic{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited {
    padding: 0 .5em;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}

header nav ul li a:hover {
    background: #444
}

main {
    font-size: 1.1em;
    width: 960px;
    margin: 0 auto;
    max-width: 90%;
    text-align: justify;
}

main p {
    text-align: justify;
}

.form-control,
label {
    display: block;
    font-weight: bold;
    font-size: 1.6rem;
   
}

form{
    background-image: url("../../img/mail.png");
    background-size: 65vw 55vw;
    background-repeat: no-repeat;
    background-position-y: -70px;


}




.form-control input,
.form-control textarea {
    padding: 0.7em;
    display: block;
    font-size: 2em;
    padding: .5rem;
    margin-bottom: 1rem;
}

.form-control input[type="text"],
.form-control input[type="email"],
.form-control textarea {
    width: 100%;
    opacity: 0.5;
}


/*Grid*/

.grid {
    display: block;

}

.col{
    display: block;

}

.card{
    border: 1px solid #444;
    margin: 1rem;
    padding: 2rem;
    border-radius: 4px;
}

.card:first-child{
    margin-left: 0;
}


.card:first-child{
    margin-left: 0;
}

.card h3{
    margin: 0;
}

.card .card-controls a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid #444;
    font-weight: bold;
    color:#444;
    border-radius: 4px;
}


@media only screen and (min-width:640px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }

    .col{
        grid-row: 1;
    }

    .card:first-child{
        margin-left: 0;
    }
    
    
    .card:first-child{
        margin-left: 0;
    }

}


#toggleMenu{
    display: block;
    float: right;
    line-height: 50px;
    cursor: pointer;
}


.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 1em;
    z-index: 1;
    
}

@media only screen and (min-width:960px){
    header{
        height: 50px;
    }
   
    header nav{
        display: block;
        float: right;
    }

    header nav {
        display: block;
    }
    
    header nav ul {
        margin: 0px;
        padding: 0;
        list-style: none;
    
    }
    
    header nav ul li {
        display: inline;
    }
    
    
    header nav ul li a,
    header nav ul li a:link,
    header nav ul li a:visited {
        display: inline-block;
        padding: 0 .5em;
        color: #fff;
        line-height: 50px;
        text-decoration: none;
    }


    main{
        font-size: 1.3rem;
    }

    #toggleMenu{
        display: none;
    }


    

}



@media only screen and (max-width:768px){
  form{
    background-image: url("../../img/mail.png");
    background-size: 65vw 55vw;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 40px;
  }
}

@media only screen and (max-width:1400px){
    form{
    background-image: url("../../img/mail.png");
    background-size: 65vw 55vw;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 40px;
    
    }

}